.div_line_info{
    position: absolute;
    left: 16px;
    top: 110px;
    width: 910px;
    height: 40px;
}
/*材料编码*/
.div_code{
    position: absolute;
    width: 430px;
    height: 40px;
}
.type_info{
    position: absolute;
    width: 120px;
    height: 40px;
    font-family: PingFang SC;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 40px;
    text-align: right;
}
.txt_code{
    position: absolute;
    left: 123px;
    width: 303px;
    height: 36px;
    font-family: PingFang SC;
    font-size: 20px;
    color: #666666;
    line-height: 36px;
    text-align: center;
    border-radius: 5px;
}
/*材料名称*/
.div_name{
    position: absolute;
    left: 497px;
    width: 413px;
    height: 40px;
}
.txt_name{
    position: absolute;
    left: 120px;
    width: 289px;
    height: 36px;
    font-family: PingFang SC;
    font-size: 20px;
    color: #666666;
    line-height: 36px;
    text-align: center;
    border-radius: 5px;
}
/*查询按钮*/
.btn_search{
    position: absolute;
    left: 998px;
    top: 110px;
    width: 152px;
    height: 40px;
    font-family: PingFang SC;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 40px;
    text-align: center;
    background-color: #009DD9;
    border-radius: 5px;
}
.btn_search:hover{
    background-color: #007EAE;
}
.btn_search:active{
    background-color: #007EAE;
}

/*材料信息表格*/
.div_list_content{
    position: relative;
    left: 6px;
    top: 185px;
    width: 1170px;
    _height: 46px;
    min-height: 46px;
    border: 10px solid #8E8B8B;
    border-radius: 5px;
}
.div_list_content>table{
    border-collapse: collapse;
    border: 1px solid #666666;
    font-family: PingFang SC;
    font-size: 20px;
    color: #666666;
    text-align: center;
    background-color: #FFFFFF;
}
/*设置表头样式*/
.div_list_content>table th{
    height: 44px;
    border-right: 2px solid #666666;
    border-bottom: 2px solid #666666;
    font-weight: normal;
}
.div_list_content>table tr th.list_last_col{
    border-right:none;
}
/*设置单元格样式*/
.div_list_content>table td{
    height: 44px;
    _height: 44px;
    min-height: 44px;
    border-right: 2px solid #666666;
    border-bottom: 2px solid #666666;
}
/*设置最后一行单元格样式*/
.div_list_content>table tr.list_last_row td{
    border-bottom: 0;
}
/*设置最后一列单元格样式*/
.div_list_content>table tr td.list_last_col{
    border-right:none;
}
/*设置行选中样式*/
.list_tr_selected{
    background-color: #0066FF;
    color: #FFFFFF;
}
/*翻页按钮*/
.div_page_btn{
    position: relative;
    left: 16px;
    top: 195px;
    width: 375px;
    height: 31px;
}
.div_btn{
    position: relative;
    left: 865px;
    top: 164px;
    width: 488px;
    height: 46px;
}
/*添加按钮*/
.btn_add{
    position: absolute;
    width: 154px;
    height: 46px;
    font-family: Heiti SC;
    font-size:20px;
    color:#FFFFFF;
    line-height:46px;
    text-align: center;
    background: url("/worker-union-fm/common/image/img_btn_add.png");
}
.btn_add:hover{
    background: url("/worker-union-fm/common/image/img_btn_add_focus.png");
}
.btn_add:active{
    background: url("/worker-union-fm/common/image/img_btn_add_focus.png");
}
/*删除按钮*/
.btn_delete{
    position: absolute;
    left: 166px;
    width: 154px;
    height: 46px;
    font-family: Heiti SC;
    font-size:20px;
    color:#FFFFFF;
    line-height:46px;
    text-align: center;
    background: url("/worker-union-fm/common/image/img_btn_delete.png");
}
.btn_delete:hover{
    background: url("/worker-union-fm/common/image/img_btn_delete_focus.png");
}
.btn_delete:active{
    background: url("/worker-union-fm/common/image/img_btn_delete_focus.png");
}

/*返回*/
.btn_back {
    position: relative;
    top: 240px;
    left: 1090px;
    width: 94px;
    height: 95px;
    font-family: Arial;
    font-size: 28px;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 95px;
    text-align: center;
    background: url("/worker-union-fm/common/image/img_btn_back.png") no-repeat;
}
.btn_back:hover {
    background: url("/worker-union-fm/common/image/img_btn_back_focus.png") no-repeat;
}
.btn_back:active {
    background: url("/worker-union-fm/common/image/img_btn_back_focus.png") no-repeat;
}