/*材料类型信息标题*/
.title_info{
    position: absolute;
    left: 13px;
    top: 70px;
    width: 94px;
    height: 530px;
    font-family: Heiti SC;
    font-size: 36px;
    color: #FFFFFF;
    line-height: 40px;
    text-align: center;
    background-color: #99CC00;
    z-index: 1;
}
.title_info>div{
    margin-top: 145px;
    font-family: Heiti SC;
    font-size: 36px;
    color: #FFFFFF;
    line-height: 40px;
    text-align: center;
}
/*材料信息编辑框*/
.div_info{
    position: absolute;
    top: 90px;
    left: 14px;
    width: 1170px;
    height: 432px;
    padding-top: 48px;
    background-color: #8E8B8B;
}
/*材料名称等行div*/
.div_line_info{
    position: relative;
    margin-top: 44px;
    left: 98px;
    width: 1040px;
    height: 50px;
}
.type_info{
    position: absolute;
    width: 232px;
    height: 50px;
    font-family: PingFang SC;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 50px;
    text-align: right;
}
.txt_info{
    position: absolute;
    left: 242px;
    width: 798px;
    height: 50px;
    font-family: PingFang SC;
    font-size: 20px;
    color: #666666;
    text-align: center;
    border-radius: 5px;
}
/*规格型号*/
.div_specification{
    position: absolute;
    width: 480px;
    height: 50px;
}
.txt_specification{
    position: absolute;
    left: 242px;
    width: 238px;
    height: 50px;
    font-family: PingFang SC;
    font-size: 20px;
    color: #666666;
    text-align: center;
    border-radius: 5px;
}
/*计量单位*/
.div_unit{
    position: absolute;
    left: 528px;
    width: 513px;
    height: 50px;
}
.type_unit{
    position: absolute;
    width: 192px;
    height: 50px;
    font-family: PingFang SC;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 50px;
    text-align: right;
}
.txt_unit{
    position: absolute;
    left: 202px;
    width: 311px;
    height: 50px;
    font-family: PingFang SC;
    font-size: 20px;
    color: #666666;
    text-align: center;
    border-radius: 5px;
}

/*下一步取消按钮*/
.div_btn{
    position: absolute;
    left: 370px;
    top: 594px;
    width: 472px;
    height: 46px;
}
/*下一步按钮*/
.btn_next{
    position: absolute;
    width: 154px;
    height: 46px;
    font-family: PingFang SC;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 46px;
    text-align: center;
    background: url("/worker-union-fm/common/image/img_btn_save_labor_info_detail.png") no-repeat;
}
.btn_next:hover{
    background: url("/worker-union-fm/common/image/img_btn_save_focus_labor_info_detail.png") no-repeat;
}
.btn_next:active{
    background: url("/worker-union-fm/common/image/img_btn_save_focus_labor_info_detail.png") no-repeat;
}
/*取消按钮*/
.btn_cancel{
    position: absolute;
    left: 318px;
    width: 154px;
    height: 46px;
    font-family: PingFang SC;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 46px;
    text-align: center;
    background: url("/worker-union-fm/common/image/img_btn_cancel_labor_info_detail.png") no-repeat;
}
.btn_cancel:hover{
    background: url("/worker-union-fm/common/image/img_btn_cancel_focus_labor_info_detail.png") no-repeat;
}
.btn_cancel:active{
    background: url("/worker-union-fm/common/image/img_btn_cancel_focus_labor_info_detail.png") no-repeat;
}
/*返回按钮*/
.btn_back{
    position: absolute;
    top: 770px;
    left: 1080px;
    width: 94px;
    height: 95px;
    font-family: Arial;
    font-size: 28px;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 95px;
    text-align: center;
    background: url("/worker-union-fm/common/image/img_btn_back.png") no-repeat;
}
.btn_back:hover{
    background: url("/worker-union-fm/common/image/img_btn_back_focus.png") no-repeat;
}
.btn_back:active{
    background: url("/worker-union-fm/common/image/img_btn_back_focus.png") no-repeat;
}