/*下载成本深化表按钮*/
.btn_download{
    position: absolute;
    left: 31px;
    top: 97px;
    width: 121px;
    height: 121px;
    background: url("/worker-union-fm/common/image/img_upload_objective_protocol.png");
}
.btn_download:hover{
    background: url("/worker-union-fm/common/image/img_upload_objective_protocol_focus.png");
}
.btn_download:active{
    background: url("/worker-union-fm/common/image/img_upload_objective_protocol_focus.png");
}
.btn_download>div{
    position: absolute;
    top: 83px;
    width: 121px;
    height: 38px;
    font-family: Arial;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 38px;
    text-align: center;
}

.btn_download_disable{
    position: absolute;
    left: 31px;
    top: 97px;
    width: 121px;
    height: 121px;
    background: url("/worker-union-fm/common/image/img_download_file_disable.png");
}
.btn_download_disable>div{
    position: absolute;
    top: 83px;
    width: 121px;
    height: 38px;
    font-family: Arial;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 38px;
    text-align: center;
}


/*成本深化表*/
.div_cost_deepen_list{
    position: absolute;
    left: 171px;
    top: 89px;
    width: 775px;
    _height: 100px;
    min-height: 100px;
    max-height: 125px;
    overflow-x: hidden;
    overflow-y: auto;
    border: #8E8B8B 10px solid;
}
/*设置表格样式*/
.div_cost_deepen_list>table{
    border-collapse: collapse;
    border: 1px solid #666666;
    font-family: PingFang SC;
    font-size: 20px;
    color: #666666;
    text-align: center;
    background-color: #FFFFFF;
}
/*设置单元格样式*/
.div_cost_deepen_list>table td{
    height: 60px;
    _height: 60px;
    min-height: 60px;
    border-right: 2px solid #666666;
    border-bottom: 2px solid #666666;
}
/*设置最后一行单元格样式*/
.div_cost_deepen_list>table tr.list_last_row td{
    border-bottom: 0;
}
/*设置最后一列单元格样式*/
.div_cost_deepen_list>table tr td.list_last_col{
    border-right: 0;
}

/*成本详细信息显示框*/
.div_cost_info {
    position: absolute;
    left: 30px;
    top: 255px;
    width: 936px;
    height: 403px;
    padding-top: 32px;
    background-color: #8E8B8B;
    border-radius: 5px;
}
/*直接成本*/
.line_cost_info {
    position: relative;
    margin-left: 102px;
    margin-top: 20px;
    width: 687px;
    height: 40px;
}
.type_cost_info {
    position: absolute;
    width: 190px;
    height: 40px;
    font-family: PingFang SC;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 40px;
    text-align: right;
}
.txt_cost_info {
    position: absolute;
    left: 207px;
    width: 480px;
    height: 30px;
    font-family: PingFang SC;
    font-size: 20px;
    color: #666666;
    padding-top: 10px;
    text-align: center;
    border-radius: 5px;
    background-color: #FFFFFF;
    overflow: auto;
}
/*成本详细信息*/
.deepen_detail_title{
    position: absolute;
    left: 31px;
    top: 790px;
    width: 1118px;
    height: 49px;
    font-family: Microsoft YaHei;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 49px;
    text-align: center;
    background-color: #856C5B;
    border-radius: 5px;
}
/*成本列表*/
.div_deepen_detail_list{
    position: relative;
    left: 31px;
    top: 854px;
    width: 1098px;
    _height: 46px;
    min-height: 46px;
    border: #8E8B8B 10px solid;
    border-radius: 5px;
}
/*设置表格样式*/
.div_deepen_detail_list>table{
    border-collapse: collapse;
    border: 1px solid #666666;
    font-family: PingFang SC;
    font-size: 20px;
    color: #666666;
    text-align: center;
    background-color: #FFFFFF;
}
/*设置表头样式*/
.div_deepen_detail_list>table th{
    height: 44px;
    border-right: 2px solid #666666;
    border-bottom: 2px solid #666666;
    font-weight: normal;
}
.div_deepen_detail_list>table tr th.list_last_col{
    border-right: 0;
}
/*设置单元格样式*/
.div_deepen_detail_list>table td{
    height: 44px;
    _height: 44px;
    min-height: 44px;
    border-right: 2px solid #666666;
    border-bottom: 2px solid #666666;
}
/*设置最后一行单元格样式*/
.div_deepen_detail_list>table tr.list_last_row td{
    border-bottom: 0;
}
/*设置最后一列单元格样式*/
.div_deepen_detail_list>table tr td.list_last_col{
    border-right: 0;
}
/*虚线分割线*/
.div_dashed{
    position: absolute;
    left: 995px;
    top: 64px;
    width: 2px;
    height: 626px;
    border-right: 1px dashed #CCCCCC;
}
/*右侧导航键*/
.nav_bar_side{
    position: absolute;
    top: 79px;
    left: 1010px;
    width: 178px;
    height: 730px;
}
/*返回*/
.btn_back {
    position: relative;
    top: 915px;
    left: 1076px;
    width: 94px;
    height: 95px;
    font-family: Arial;
    font-size: 28px;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 95px;
    text-align: center;
    background: url("/worker-union-fm/common/image/img_btn_back.png") no-repeat;
}
.btn_back:hover {
    background: url("/worker-union-fm/common/image/img_btn_back_focus.png") no-repeat;
}
.btn_back:active {
    background: url("/worker-union-fm/common/image/img_btn_back_focus.png") no-repeat;
}

/*页面遮罩层*/
.div_mask{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
/*弹窗页面容器*/
.dialog_container {
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -370px 0 0 -480px;
    width: 960px;
    height: 740px;
    background-color: #C1AD9F;
    border: #99CC00 2px solid;
    border-radius: 5px;
}

/*成本详细条目标题*/
.dialog_title_deepen_detail{
    position: absolute;
    left: 39px;
    top: 40px;
    width: 93px;
    height: 620px;
    background-color: #99CC00;
    z-index: 1;
}
.dialog_title_deepen_detail>div{
    margin-top: 150px;
    font-family: PingFang SC;
    font-size: 36px;
    color: #FFFFFF;
    line-height: 40px;
    text-align: center;
}
/*成本详细条目信息*/
.dialog_div_deepen_detail{
    position: absolute;
    top: 64px;
    left: 40px;
    width: 880px;
    height: 558px;
    padding-top: 8px;
    background-color: #8E8B8B;
    border-radius: 5px;
}
/*一行成本详细条目信息*/
.div_line_detail{
    position: relative;
    margin-top: 35px;
    left: 123px;
    width: 656px;
    height: 40px;
}
.type_detail{
    position: absolute;
    width: 159px;
    height: 40px;
    font-family: PingFang SC;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 40px;
    text-align: right;
}
.txt_detail{
    position: absolute;
    left: 176px;
    width: 474px;
    height: 36px;
    font-family: PingFang SC;
    font-size: 20px;
    color: #666666;
    line-height: 36px;
    text-align: center;
    border-radius: 5px;
}
/*成本类别选择下拉框*/
.btn_select {
    position: absolute;
    left: 176px;
    width: 480px;
    height: 40px;
    font-family: PingFang SC;
    font-size: 20px;
    color: #434343;
    line-height: 40px;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: none;
}
.btn_select option {
    height: 40px;
}
.div_btn{
    position: absolute;
    left: 278px;
    top: 650px;
    width: 474px;
    height: 46px;
}
/*保存按钮*/
.btn_save{
    position: absolute;
    left: 0px;
    width: 154px;
    height: 46px;
    font-family: PingFang SC;
    font-size:20px;
    color:#FFFFFF;
    line-height:46px;
    text-align: center;
    background: url("/worker-union-fm/common/image/img_btn_save_cost_detail.png");
}
.btn_save:hover{
    background: url("/worker-union-fm/common/image/img_btn_save_cost_detail_focus.png");
}
.btn_save:active{
    background: url("/worker-union-fm/common/image/img_btn_save_cost_detail_focus.png");
}
/*取消按钮*/
.btn_cancel{
    position: absolute;
    left: 318px;
    width: 154px;
    height: 46px;
    font-family: PingFang SC;
    font-size:20px;
    color:#FFFFFF;
    line-height:46px;
    text-align: center;
    background: url("/worker-union-fm/common/image/img_btn_cancel_cost_detail.png");
}
.btn_cancel:hover{
    background: url("/worker-union-fm/common/image/img_btn_cancel_cost_detail_focus.png");
}
.btn_cancel:active{
    background: url("/worker-union-fm/common/image/img_btn_cancel_cost_detail_focus.png");
}


