/*分包商信息标题*/
.title_info{
    position: absolute;
    left: 13px;
    top: 70px;
    width: 94px;
    height: 850px;
    font-family: Heiti SC;
    font-size: 36px;
    color: #FFFFFF;
    line-height: 40px;
    text-align: center;
    background-color: #99CC00;
    z-index: 1;
}
.title_info>div{
    margin-top: 325px;
    font-family: Heiti SC;
    font-size: 36px;
    color: #FFFFFF;
    line-height: 40px;
    text-align: center;
}
/*分包商信息编辑框*/
.div_info{
    position: absolute;
    top: 90px;
    left: 14px;
    width: 1170px;
    height: 794px;
    padding-top: 16px;
    background-color: #8E8B8B;
}
.div_line_info{
    position: relative;
    margin-top: 18px;
    left: 112px;
    width: 1040px;
    height: 50px;
}
.type_info{
    position: absolute;
    width: 232px;
    height: 50px;
    font-family: PingFang SC;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 50px;
    text-align: right;
}
.txt_info{
    position: absolute;
    left: 242px;
    width: 798px;
    height: 50px;
    font-family: PingFang SC;
    font-size: 20px;
    color: #666666;
    text-align: center;
    border-radius: 5px;
}
.txt_disable{
    line-height: 50px;
    background-color: #CCCCCC;
}
/*合作年限*/
.div_col_1{
    position: absolute;
    width: 480px;
    height: 50px;
}
.txt_col_1{
    position: absolute;
    left: 242px;
    width: 238px;
    height: 50px;
    font-family: PingFang SC;
    font-size: 20px;
    color: #666666;
    text-align: center;
    border-radius: 5px;
}
/*分包商级别*/
.div_col_2{
    position: absolute;
    left: 528px;
    width: 513px;
    height: 50px;
}
.type_col_2{
    position: absolute;
    width: 192px;
    height: 50px;
    font-family: PingFang SC;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 50px;
    text-align: right;
}
.txt_col_2{
    position: absolute;
    left: 202px;
    width: 311px;
    height: 50px;
    font-family: PingFang SC;
    font-size: 20px;
    color: #666666;
    text-align: center;
    border-radius: 5px;
}
.select_supplier_rank {
    position: absolute;
    left: 202px;
    width: 311px;
    height: 50px;
    font-family: PingFang SC;
    font-size: 20px;
    color: #666666;
    line-height: 50px;
    text-align: center;
    background-color: #FFFFFF;
    border: none;
}
select option {
    height: 40px;
}

/*分包资质*/
.div_qualification{
    position: relative;
    margin-top: 18px;
    left: 112px;
    width: 1040px;
    height: 175px;
}
.txt_qualification {
    position: absolute;
    left: 242px;
    width: 798px;
    height: 175px;
    background-color: #FFFFFF;
    border-radius: 5px;
    overflow-x: hidden;
    overflow-y: auto;
}

/*资质多选框*/
.txt_qualification_checkbox {
    float: left;
    margin-left: 24px;
    margin-top: 28px;
    width: 170px;
    height: 20px;
    font-family: PingFang SC;
    font-size: 16px;
    color: #666666;
    text-align: left;
}
.div_checkbox{
    zoom: 180%;
    vertical-align:middle;
}
/*联系人及联系方式行div*/
.div_line_info_other{
    position: relative;
    margin-top: 18px;
    left: 112px;
    width: 1040px;
    height: 50px;
}
/*附件资料*/
.div_annex{
    position: relative;
    margin-top: 18px;
    left: 112px;
    width: 1040px;
    height: 245px;
}
.div_add_attachment{
    position: absolute;
    left: 242px;
    width: 798px;
    height: 245px;
    background-color: #FFFFFF;
    border-radius: 5px;
    overflow-x: hidden;
    overflow-y: auto;
}
/*默认图片*/
.img_picture_default{
    float: left;
    margin-left: 34px;
    margin-top: 27px;
    width: 119px;
    height: 82px;
    background: url("/worker-union-fm/common/image/img_picture_default.png");
}
/*添加图片后显示缩略图*/
.img_picture_display{
    float: left;
    margin-left: 34px;
    margin-top: 27px;
    width: 119px;
    height: 82px;
    background: url("/worker-union-fm/common/image/img_picture_display.png");
}
/*文件名*/
.txt_file_name{
    float: left;
    margin-top: 32px;
    width: 119px;
    height: 20px;
    font-family: PingFang SC;
    font-size: 13px;
    color: #333333;
    padding-top: 7px;
    text-align: center;
    background-color: #FFFFFF;
    text-decoration: underline;
}
/*删除按钮*/
.btn_picture_delete{
    float: left;
    margin-left: 81px;
    width: 38px;
    height: 23px;
    background: url("/worker-union-fm/common/image/img_btn_picture_delete.png");
}
.btn_picture_delete:hover{
    background: url("/worker-union-fm/common/image/img_btn_picture_delete_focus.png");
}
.btn_picture_delete:active{
    background: url("/worker-union-fm/common/image/img_btn_picture_delete_focus.png");
}
/*最后的添加文件按钮*/
.btn_picture_add{
    float: left;
    margin-left: 34px;
    margin-top: 27px;
    width: 119px;
    height: 82px;
    background: url("/worker-union-fm/common/image/img_btn_picture_add.png") no-repeat;
}
.btn_picture_add:hover{
    background: url("/worker-union-fm/common/image/img_btn_picture_add_focus.png") no-repeat;
}
.btn_picture_add:active{
    background: url("/worker-union-fm/common/image/img_btn_picture_add_focus.png") no-repeat;
}


.div_btn{
    position: absolute;
    left: 371px;
    top: 920px;
    width: 472px;
    height: 46px;
}
/*保存按钮*/
.btn_save{
    position: absolute;
    width: 154px;
    height: 46px;
    font-family: PingFang SC;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 46px;
    text-align: center;
    background: url("/worker-union-fm/common/image/img_btn_save_labor_info_detail.png") no-repeat;
}
.btn_save:hover{
    background: url("/worker-union-fm/common/image/img_btn_save_focus_labor_info_detail.png") no-repeat;
}
.btn_save:active{
    background: url("/worker-union-fm/common/image/img_btn_save_focus_labor_info_detail.png") no-repeat;
}
/*取消按钮*/
.btn_cancel{
    position: absolute;
    left: 318px;
    width: 154px;
    height: 46px;
    font-family: PingFang SC;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 46px;
    text-align: center;
    background: url("/worker-union-fm/common/image/img_btn_cancel_labor_info_detail.png") no-repeat;
}
.btn_cancel:hover{
    background: url("/worker-union-fm/common/image/img_btn_cancel_focus_labor_info_detail.png") no-repeat;
}
.btn_cancel:active{
    background: url("/worker-union-fm/common/image/img_btn_cancel_focus_labor_info_detail.png") no-repeat;
}
/*返回按钮*/
.btn_back{
    position: absolute;
    top: 991px;
    left: 1090px;
    width: 94px;
    height: 95px;
    font-family: Arial;
    font-size: 28px;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 95px;
    text-align: center;
    background: url("/worker-union-fm/common/image/img_btn_back.png") no-repeat;
}
.btn_back:hover{
    background: url("/worker-union-fm/common/image/img_btn_back_focus.png") no-repeat;
}
.btn_back:active{
    background: url("/worker-union-fm/common/image/img_btn_back_focus.png") no-repeat;
}