/*在HTML文件中添加
<link href="/worker-union-pm/common/loading/loading.css" rel="stylesheet" type="text/css">
<iframe id="loading" class="loading" src="/worker-union-pm/common/loading/loading.html" style="display: none;"></iframe>
*/
.loading {
	position: absolute;
	width: 1200px;
	height: 900px;
    border: none;
    text-align: center;
    z-index: 999;
}